

// FONT FACES

$fontRegularMain : 'montserratregular',
Arial,
"Helvetica Neue",
Helvetica,
sans-serif;

$fontSemiboldMain : 'montserratsemibold',
Arial,
"Helvetica Neue",
Helvetica,
sans-serif;

// COLOR 

$colorPrimaryLight : #ffffff;
$colorSecondary : #808080;
$colorPrimaryDark : #222222;

$colorTransparentLight: rgba(255,255,255,.35);
$colorTransparentDark: rgba(0,0,0,.35);