html {
    font-family: $main-font;
    color: $primary-color;
    text-transform: uppercase;
}

p {
    font-size: 1.5rem;
    letter-spacing: 10px;
    white-space: nowrap;
    @media (max-width:1280px) {
        font-size: .8rem;
        letter-spacing: 1px;
    }
}

.heading {
    h1 {
        font-size: 12rem;
        font-weight: 600;
        letter-spacing: 15px;
        @media (max-width:1280px) {
            font-size: 5rem;
        }
        }
    p {
        font-size: 3rem;
        margin-bottom: 20px;
        margin-right: 10px;
        @media (max-width:1280px) {
            font-size: 1rem;
        }
        }
}

.sidebar p {    
        letter-spacing: 1px;
}

